html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 6% 1fr;
    grid-template-rows: 8% 6% 1fr;
}

#side{
    grid-column: 1;
    grid-row: 2/4;
    background-color: aquamarine;
}

#topo{
    grid-column: 1/3;
    grid-row: 1;
    background-color: azure;
}

#opcoes{
    grid-column: 2;
    grid-row: 2;
}

#main{
    grid-column: 2;
    grid-row: 3;
    background-color: rgb(89, 194, 75);
}